@using DataLayer
@model PersonaDataViewModel



<form method="post">
	<div class="d-flex justify-content-center">
		<div class=" d-flex flex-column bottone">

			<div class="carta">
				<div class="fisc">

					@if (Model.CodiceFiscale != "")
					{
						<strong>@Model.CodiceFiscale</strong>
					}
					else
					{
						<strong>&nbsp;</strong>
					}

				</div>

				<input asp-for="@Model.LastName" class="text-form surname">

				<br />

				<input asp-for="@Model.FirstName" class="text-form name">

				<br />

				<select id="comuni" asp-for="@Model.Istat" class="text-form istat">
				</select>


				<select asp-for="@Model.Gender" class="text-form gender">
					<option default>M</option>
					<option>F</option>
				</select>

				<br />

				<select id="province" class="text-form province">
				</select>


				<input asp-for="@Model.Birthday" class="text-form data" type="date">

			</div>
			<br />
			<button class="btn btn-lg btn-success text-center bottone">Calcola</button>
		</div>
	</div>
</form>









<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script src="~/js/GetComuniProvince.js"></script>


